<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="Db" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=./Data/京东标签打印数据.xlsx;Extended Properties=&quot;Excel 12.0 Xml;HDR=YES;IMEX=1&quot;"/>-->
    <add name="Db" connectionString="server=101.201.28.235;initial catalog = kufangscan;uid=kufang;pwd=kufang;"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="LabelSql" value="select * from [Sheet1$] where 条形码=@barCode or 京东码=@barCode or 旧京东码=@barCode"/>-->
    <add key="LabelSql" value="select * from [dbo].[product_new] where 条形码=@barCode or 京东码=@barCode or 旧京东码=@barCode"/>
    <!--<add key="JingDongLabelSql" value="select * from [Sheet1$] where 京东码=@barCode or 条形码=@barCode"/>-->
    <add key="JingDongLabelSql" value="select * from [dbo].[product_new] where 京东码=@barCode or 条形码=@barCode"/>
    <!--<add key="ProductImagePath" value="C:\Images\Product\"/>-->
    <add key="ProductImagePath" value="http://101.201.28.235:90/images/Product"/>
    <add key="ProductImageExt" value=".jpg"/>
    <!--<add key="BaseBarCodeImagePath" value="C:\Images\BaseBarCode\"/>-->
    <add key="BaseBarCodeImagePath" value="http://101.201.28.235:90/images/BaseBarCode"/>
    <add key="BaseBarCodeImageExt" value=".gif"/>
    <!--<add key="JingDongBarCodeImagePath" value="C:\Images\JinDongBarCode\"/>-->
    <add key="JingDongBarCodeImagePath" value="http://101.201.28.235:90/images/JinDongBarCode"/>
    <add key="JingDongBarCodeImageExt" value=".gif"/>
    <add key="XpsForBaseLabel" value="one.oxps"/>
    <add key="XpsForJingDongLabel" value="two.oxps"/>
  
  </appSettings>
</configuration>