<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Db" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=./Data/京东标签打印数据.xlsx;Extended Properties=&quot;Excel 12.0 Xml;HDR=YES&quot;"/>
  </connectionStrings>
  <appSettings>
    <add key="LabelSql" value="select * from [Sheet1$] where 条形码=@barCode or 京东码=@barCode or 旧京东码=@barCode"/>
    <add key="JingDongLabelSql" value="select * from [Sheet1$] where 京东码=@barCode"/>
    <add key="ProductImagePath" value="C:\Images\Product\"/>
    <add key="ProductImageExt" value=".jpg"/>
    <add key="BaseBarCodeImagePath" value="C:\Images\BaseBarCode\"/>
    <add key="BaseBarCodeImageExt" value=".gif"/>
    <add key="JingDongBarCodeImagePath" value="C:\Images\JinDongBarCode\"/>
    <add key="JingDongBarCodeImageExt" value=".gif"/>
    <add key="XpsForBaseLabel" value="one.oxps"/>
    <add key="XpsForJingDongLabel" value="two.oxps"/>
  
  </appSettings>
</configuration>